@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --color-bg: #ffffff;
    --color-neutral-500: #1f2223;
    --color-neutral-450: #363939;
    --color-neutral-400: #57595a;
    --color-neutral-350: #797a7b;
    --color-neutral-300: #8e9090;
    --color-neutral-250: #b1b2b2;
    --color-neutral-200: #d2d3d3;
    --color-neutral-150: #efefef;
    --color-neutral-100: #f6f6f6;
    --color-neutral-50: #ffffff;

    --heading-font: "Montserrat Alternates", sans-serif;
    --body-font: "Inter", serif;

    --color-text: #363939;
    --color-primary: #ff7e36;
    --color-secondary: #8fb7ca;
    --color-border: #e0e0e0;
}

body {
    padding: 132px 80px 48px 80px;
    background-color: var(--color-bg);
}

section {
    margin-bottom: 128px;
    scroll-margin-top: 128px;
}

/** Widgets **/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--color-neutral-500);
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.2s;
}

a:hover {
    color: var(--color-neutral-450);
}

a.btn-dark {
    background-color: var(--color-neutral-500);
    color: var(--color-neutral-50);
    padding: 8px 24px;
    border-radius: 30px;
    transition: 0.2s;
}

a.btn-dark:hover {
    background-color: var(--color-neutral-450);
}

a.btn-primary-outline {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 8px 32px;
    border-radius: 30px;
    transition: 0.4s;
    display: inline-block;
}

a.btn-primary-outline:hover {
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
}

a.btn-primary {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-neutral-50);
    padding: 8px 32px;
    border-radius: 30px;
    transition: 0.4s;
    display: inline-block;
}

a.btn-primary:hover {
    background-color: transparent;
    color: var(--color-primary);
}

.divider{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-neutral-300);
    gap: 32px;
    margin: 32px 0 64px 0;
    
}

.divider div {
    flex: 1 1 auto;
    height: 2px;
    background-color: var(--color-neutral-200);
}

.divider h2 {
    white-space: nowrap;
    color: var(--color-neutral-400);
}

.border-container {
  margin: 0 auto;
  padding: 64px;
  border: 2px solid var(--color-neutral-200);
  border-radius: 32px;
  position: relative;
}

.border-container .container-title {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  background-color: var(--color-bg);
  z-index: 2;
}

.border-container .container-title * {
    color: var(--color-neutral-400);
    font-size: 24px;
}


/** HEADER **/

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 80px 30px 80px;
    background-color: var(--color-bg);
    z-index: 999;
    transition: .2s;
}

header.active {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
}

header img.logo {
    height: 20px;
    cursor: pointer;
}

header .nav-buttons {
    display: flex;
    align-items: baseline;
    gap: 48px;
}


/** HERO **/

section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 132px - 48px);
    position: relative;
}

section.hero .product-title {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 10px;
}

section.hero .product-title span {
    color: var(--color-primary);
}  

section.hero p {
    font-size: 20px;
    margin-bottom: 42px;
}

section.hero .price {
    font-family: var(--body-font);
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 14px;
}

section.hero .btn-primary {
    padding: 12px 48px;
}

section.hero .media {
    width: 30vw;
}

section.hero video {
    width: 100%;
}

section.hero .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-neutral-300);
    user-select: none;
}

/** IMAGES **/

section.images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

section.images i { 
    font-size: 36px;
    color: var(--color-neutral-350);
    cursor: pointer;
}

section.images img { 
    height: 55vh;
    border-radius: 16px;
    margin-bottom: 8px;
}

section.images .dots-carousel {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

section.images .dot { 
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-neutral-200);
}

section.images .dot.active { 
    background-color: var(--color-neutral-250);
}

/** HIGHLIGHTS **/

section.highlights {
    width: 100%;
}

section.highlights .highlights-container {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

section.highlights .highlights-container .highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    gap: 64px;
}

section.highlights .highlights-container .highlight img {
    max-width: calc(50vw - 152px);
    flex: 1;
    border-radius: 16px;
}

section.highlights .highlights-container .highlight .text-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex: 1;
}

section.highlights .highlights-container .highlight .text-content h1 {
    color: var(--color-primary);
}

section.highlights .highlights-container .highlight .text-content .text-cards {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

section.highlights .highlights-container .highlight .text-content .text-cards .card {
    padding: 10px 24px;
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

section.highlights .highlights-container .highlight .text-content .text-cards .card:hover {
    transform: scale(1.05);
}

section.highlights .highlights-container .highlight .text-content h3 {
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 500;
}

section.highlights .highlights-container .sub-divider {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.highlights .highlights-container .sub-divider div {
    width: 64px;
    height: 2px;
    background-color: var(--color-neutral-200);
}

section.highlights .highlights-container .highlight.inverted .text-content h1 {
    width: 100%;
    text-align: end;
}

section.highlights .highlights-container .highlight.inverted .text-content .text-cards {
    width: 100%;
    justify-content: end;
}


/** SPECIFICATIONS **/

section.specifications .specs-grid {
    display: grid;
    gap: 86px;
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

section.specifications .technical-specs .specs-grid .specs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 8px;
}

section.specifications .technical-specs .specs-grid .specs-card i {
    font-size: 40px;
    margin-bottom: 4px;
    color: var(--color-neutral-450);
}

section.specifications .technical-specs .specs-grid .specs-card .field {
    color: var(--color-primary);
    font-weight: 600;
}

section.specifications .divider {
    margin-top: 96px;
    margin-bottom: 32px;
}

section.specifications .constituents-grid {
    display: grid;
    gap: 28px;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

section.specifications .constituents-grid .constituents-card {
    display: flex;
    gap: 4px;
    padding: 12px;
    border: var(--color-neutral-300) 1px solid;
    border-radius: 8px;
    align-items: center;
    position: relative;
}

section.specifications .constituents-grid .constituents-card.primary {
    border: var(--color-primary) 1px solid;
}

section.specifications .constituents-grid .constituents-card i {
    color: var(--color-primary);
    font-size: 24px;
}

section.specifications .constituents-grid .constituents-card .banner {
    position: absolute;
    right: 16px;
    background-color: var(--color-primary);
    color: var(--color-neutral-50);
    padding: 4px;
    font-size: 12px;
    border-radius: 2px;
}

section.specifications .constituents-grid .constituents-card span {
    color: var(--color-primary);
    font-weight: 500;
}

/** REVIEWS **/

section.reviews .sec-title {
    color: var(--color-primary);
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin: 32px 0 80px 0;
    flex-wrap: nowrap;
}

section.reviews .rating-header {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    margin-bottom: 96px;
}

section.reviews .rating-header .average-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 64px;
    flex-grow: 1;
}

section.reviews .rating-header .average-info .average-rating {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

section.reviews .rating-header .average-info .rating-star {
    color: var(--color-primary);
    font-size: 20px;
    margin-bottom: 12px;
}

section.reviews .rating-header .average-info p {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

section.reviews .rating-header .average-info a {
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 14px;
}

section.reviews .rating-header .ratings-bifercation {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.reviews .rating-header .ratings-bifercation .rating-data {
    display: flex;
    justify-content: space-between;
}

section.reviews .rating-header .ratings-bifercation .rating-data .rating {
    display: flex;
    align-items: center;
    margin-right: 24px;
    width: 100%;
    justify-content: space-between;
}

section.reviews .rating-header .ratings-bifercation .rating-data .rating p {
    margin-right: 16px;
    font-weight: 600;
    width: 32px;
}

section.reviews .rating-header .ratings-bifercation .rating-data .rating .progress-bar {
    display: flex;
    width: 100%;
    height: 10px;
}

section.reviews .rating-header .ratings-bifercation .rating-data .rating .progress-bar .active{
    flex-grow: 1;
    background-color: var(--color-primary);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

section.reviews .rating-header .ratings-bifercation .rating-data .rating .progress-bar .inactive{
    flex-grow: 1;
    background-color: var(--color-neutral-200);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

section.reviews .rating-header .ratings-bifercation .rating-data p {
    white-space: nowrap;
}

section.reviews .reviews-list {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

section.reviews .reviews-list .review {
    border: 1px var(--color-neutral-300) solid;
    padding: 24px 32px;
    border-radius: 16px;
}

section.reviews .reviews-list .review .review-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 12px;
}

section.reviews .reviews-list .review .review-header .account-details{
    display: flex;
    align-items: center;
    gap: 16px;
}

section.reviews .reviews-list .review .review-header .account-details i{
    color: var(--color-primary);
    font-size: 20px;
}

section.reviews .reviews-list .review .review-header .rating-star {
    color: var(--color-primary);
    font-size: 18px;
}

section.reviews .reviews-list .review .review-images {
    margin-top: 32px;
    display: flex;
    gap: 24px;
}

section.reviews .reviews-list .review .review-images .image-container {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

section.reviews .reviews-list .review .review-images .image-container:hover {
    transform: scale(0.95);
}

section.reviews .reviews-list .review .review-images img {
    height: 100%;
}


/** FAQ SECTION **/

section.freq-asked-qs .container-title {
    width: 100%;
    text-align: center;
    margin-bottom: 64px;
}

section.freq-asked-qs .container-title * {
    color: var(--color-primary);
}

section.freq-asked-qs .faqs {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

section.freq-asked-qs .faqs .faq .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

section.freq-asked-qs .faqs .faq .header * {
    font-family: var(--body-font);
}


section.freq-asked-qs .faqs .faq .header i{
    font-size: 20px;
    cursor: pointer;
}

/* FOOTER */

footer .references {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

footer .references div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .references div a {
    font-size: 14px;
    text-transform: uppercase;
}

footer .references .brand img {
    width: 10vw;
}

footer .references .brand p {
    font-size: 15px;
}

footer .footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

footer .footer .links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

footer .footer .links a {
    color: var(--color-primary);
}